/* styles/globals.css */

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a global font */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Remove default link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}
